@{
    ViewData["Title"] = "Creditos";
}
<main class="main-1">
    <div class="creditos-h1">
        <h1>Creditos</h1>
    </div>
    <div class="Fotos">
            <div class="foto-item">
                <img src="/Images/General/lupa.png" alt="Crédito 1">
                <p>Santiago Colombet</p>
            </div>
            <div class="foto-item">
                <img src="/Images/General/lupa.png" alt="Crédito 2">
                <p>Uriel Berman</p>
            </div>
            <div class="foto-item">
                <img src="/Images/General/lupa.png" alt="Crédito 3">
                <p>Dekel Usach</p>
            </div>
        </div>
 </main>

    