 <h1>Créditos</h1>
 <section class="main-1">
    <div class="Fotos">
            <div class="foto-item">
                <img src="/Images/General/lupa.png" alt="Crédito 1">
                <p>Santiago Colombet Antonelli</p>
            </div>
            <div class="foto-item">
                <img src="/Images/General/lupa.png" alt="Crédito 2">
                <p>Uriel Berman</p>
            </div>
            <div class="foto-item">
                <img src="/Images/General/lupa.png" alt="Crédito 3">
                <p>Dekel Usach</p>
            </div>
        </div>
 </section>
    