@{
    ViewData["Title"] = "Creditos";
}
<section class="credito">
<div class="creditos-h1">
    <h1>Creditos</h1>
</div>
</section>
<main class="main-1">

    <div class="Fotos">
            <div class="foto-item">
                <img src="/Images/creditos/dekel.jpg" alt="Crédito 1">
                <p>Dekel Usach</p>
            </div>
            <div class="foto-item">
                <img src="/Images/creditos/berman.jpg" alt="Crédito 2">
                <p>Uriel Berman</p>
            </div>
            <div class="foto-item">
                <img src="/Images/creditos/santi.jpg" alt="Crédito 3">
                <p>Santiago Colombet</p>
            </div>
        </div>
 </main>
<footer class="footer">
    <div class="footer-left">
        &copy; Sala de escape
    </div>
    <div class="footer-right">
        <div class="pista-menu">
            <img src="../Images/General/lupa.png" alt="Pista" class="img-pista">
        </div>
        <div class="boton-menu" id="reset">
            <button id="boton-menu" onclick="window.location.href='@Url.Action("Resetear","Home")'">Reiniciar Juego</button>
        </div>
        <div class="boton-menu">
            <button onclick="window.location.href='@Url.Action("Index")'">Volver al menu</button>
        </div>
    </div>
</footer>

    