<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Habitacion1</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <main class="habitacion-general">
        <section class="habitacion-general-main">
            <div>
                <h1>Cajas registradoras</h1>
                <h2>¡Buzz se encuentra en problemas! Debes encontrar una clave para escapar</h2>
                <p>Buzz Lightyear está en una misión importante dentro de la tienda de juguetes. Necesita encontrar el código de una caja 
                registradora para conseguir una moneda especial que le permitirá avanzar al siguiente nivel. Ayuda a Buzz a resolver este acertijo para abrir la caja registradora.</p>
            </div>
        
          <div>
          <h1> ¿Qué debes hacer?</h1>
          <p>Buzz se encuentra en la tienda de juguetes y ve numeros estampados en distintos sectores. Estos numeros representan la cantidad de ventas por sector de la tienda. ¡Tienes que utilizarlos para averiguar el codigo de la caja fuerte!</p>
          </div>
            <div>
                <h2>Como decifrar el codigo</h2>
                <div>
                    <p>Primer dígito: El número total de ventas realizadas.</p>
                    <p>Segundo dígito: La suma de las dos ventas más bajas.</p>
                    <p>Tercer dígito: La suma de las dos ventas más altas.</p>
                    <p>Cuarto dígito: La diferencia entre la venta más alta y la venta más baja.</p>
                </div>
                
            </div>
          
            <div class="habitacion-1-img">
                <img src="../Images/Habitacion1/Habitacion_1.png" alt="Habitación 1">
            </div>
            <form class = "form" action = '@Url.Action("Habitacion","Home")'>
                <input type= "hidden" name = "sala" value="1">
            <span class="input">
                <input type="text" name="clave" class = "clave" placeholder ="clave">
            </span>
            <input type="submit" class = "submit-button">
            </form>    
        </section>
    </main>
</body>
</html>
