@{
    ViewData["Title"] = "Memoria de Secuencia";
}

<body>
<main class="habitacion-general">
    <section class="habitacion4">
    <h1>Memotest</h1>
    <div>
        <p>Para continuar con su misión, Buzz enfrenta un desafío crucial: un Memotest. Este juego de memoria es la clave para finalmente poder volver con Andy. Solo resolviendo el Memotest y encontrando todas las parejas de imágenes podrán avanzar.
        </p>
    </div>
    <div>
        <p>¡Ayuda a Buzz y sus amigos a completar el Memotest en 10 movimientos o menos para descubrir el código y seguir su camino hacia la casa de Andy!
        </p>
    </div>
    <div id="game-board"></div>
    <div id="moves">Movimientos: 0</div>
    <div id="div-boton" class="div-boton">
    </div>

    <form class = "form" id = "form4" action = '@Url.Action("Habitacion","Home")'>
            <input type= "hidden" name = "sala" value="4">
        <span class="input">
        <input type="text" name="clave" class = "clave" placeholder ="clave">
        </span>
        <input type="submit" class = "submit-button">
        </form>
         @{
            if (ViewBag.Error != null)
            {
                <div class="error-msg" id="error-msg-4">
                    <p>@ViewBag.Error</p>
                </div>
            }

        }
  </section>
</main>
</body>

<footer class="footer">
    <div class="footer-left">
        &copy; Sala de escape
    </div>
    <div id="timer"></div>
    <div class="footer-right">
        <div class="pista-menu">
            <img src="../Images/General/lupa.png" alt="Pista" class="img-pista" id="pista4">
        </div>
        <div class="boton-menu" id="reset">
            <button id="reiniciar-boton" onclick="window.location.href='@Url.Action("Resetear","Home")'">Reiniciar Juego</button>
        </div>
        <div class="boton-menu">
            <button id="boton-menu" onclick="window.location.href='@Url.Action("Index")'">Volver al menu</button>
        </div>
    </div>
</footer>

<script src="~/js/memotest.js"></script>
