@{
    ViewData["Title"] = "Victoria";
}

<p>ganaste</p>
<footer class="footer">
    <div class="footer-left">
        &copy; Sala de escape
    </div>
    <div class="footer-right">
        <div class="pista-menu">
            <img src="../Images/General/lupa.png" alt="Pista" class="img-pista">
        </div>
        <div class="boton-menu">
            <button onclick="window.location.href='@Url.Action("Index")'">Volver al menu</button>
        </div>
    </div>
</footer>
